[SETTINGS]
ANYDESK_PASSWORD=
LOG_DIR=%LOCALAPPDATA%\Logs\InstallNetworkApps
BITDEFENDER_PWD=
KASPERSKY_DIR=\\server\TI\Kaspersky

[APPS]
AnyDesk=EXE|\\server\TI\AnyDesk|AnyDesk.exe|--install "C:\Program Files\AnyDesk" --start-with-win --silent
Teams=EXE|\\server\TI\Teams|Teams_windows_x64.exe|--silent
TeamViewer12=EXE|\\server\TI\TeamViewer|TeamViewer_Setup 12.exe|/S
7Zip=DOWNLOAD|https://www.7-zip.org/a/7z2409-x64.exe||/S
Chrome=DOWNLOAD|https://dl.google.com/chrome/install/chrome_installer.exe||/silent /install
